# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Working with JSON files

Import the pandas library

In [1]:
# Your import here:
import pandas as pd

####  After importing pandas, let's find a dataset. In this lesson we will be working with a NASA dataset.

Run the code in the cell below to load the dataset containing information about asteroids that have landed on earth. This piece of code helps us open the URL for the dataset and deocde the data using UTF-8.

In [2]:
# Run this code

from urllib.request import urlopen
import json

response = urlopen("https://data.nasa.gov/resource/y77d-th95.json")
json_data = response.read().decode('utf-8', 'replace')

In the next cell, load the data in `json_data` and load it into a pandas dataframe. Name the dataframe `nasa`.

In [10]:
# Your code here:
nasa = pd.read_json(json_data, orient = 'records')

Now that we have loaded the data, let's examine it using the `head()` function.

In [11]:
# Your code here:
print(nasa.head())

   :@computed_region_cbhk_fwbd  :@computed_region_nnqa_25f4  fall  \
0                          NaN                          NaN  Fell
1                          NaN                          NaN  Fell
2                          NaN                          NaN  Fell
3                          NaN                          NaN  Fell
4                          NaN                          NaN  Fell

                                         geolocation   id      mass      name  \
0  {'type': 'Point', 'coordinates': [6.08333, 50....    1      21.0    Aachen
1  {'type': 'Point', 'coordinates': [10.23333, 56...    2     720.0    Aarhus
2  {'type': 'Point', 'coordinates': [-113, 54.216...    6  107000.0      Abee
3  {'type': 'Point', 'coordinates': [-99.9, 16.88...   10    1914.0  Acapulco
4  {'type': 'Point', 'coordinates': [-64.95, -33....  370     780.0   Achiras

  nametype     recclass    reclat    reclong                     year
0    Valid           L5  50.77500    6.08333  1880-01-01T00:00:00.000
1    Valid           H6  56.18333   10.23333  1951-01-01T00:00:00.000
2    Valid          EH4  54.21667 -113.00000  1952-01-01T00:00:00.000
3    Valid  Acapulcoite  16.88333  -99.90000  1976-01-01T00:00:00.000
4    Valid           L6 -33.16667  -64.95000  1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [15]:
# Your code here:
freq_asteroids = nasa['fall'].value_counts()
print(freq_asteroids)

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Since we downloaded the file from an online source, the goal of saving the dataframe is to have a local copy. Save the dataframe using the `orient=records` argument and name the file `nasa.json`.

In [16]:
# Your code here:
nasa.to_json('nasa.json', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [17]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [21]:
# Your code here:
shuttle = pd.read_csv(tst_url, sep=' ', names = cols)

shuttle

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1
41,0,84,3,38,-4,43,45,2,1
37,0,100,0,36,-8,63,64,2,1
46,0,83,0,46,0,37,36,0,1
44,0,79,0,42,-17,35,37,2,1
44,-1,78,0,44,0,34,34,0,1
55,0,81,0,54,-10,25,26,2,1
56,0,95,0,52,-3,40,44,4,4
37,0,100,0,34,6,64,67,4,1
43,-3,86,2,44,14,43,42,0,1
46,-5,84,0,46,0,38,37,0,1
45,0,81,0,44,0,36,37,0,1
48,0,86,0,50,30,38,37,0,1
56,0,78,0,42,-2,22,37,14,4
56,0,77,0,18,-18,22,59,38,4
45,5,90,0,44,0,44,46,2,1
37,0,77,0,-20,27,41,98,58,1
37,0,90,-6,18,0,53,72,20,1
37,-8,77,0,20,0,40,57,16,1
50,5,95,-3,50,0,45,46,2,1
43,-2,76,0,44,15,32,32,0,1
42,-1,85,-5,42,0,44,44,0,1
55,0,97,0,46,-2,42,51,8,4
37,0,76,0,26,20,39,50,12,1
37,0,76,8,30,0,40,45,6,1
45,0,106,0,46,9,61,60,0,1
...,...,...,...,...,...,...,...,...,...
55,0,97,0,42,0,41,55,14,4
44,0,84,-3,44,0,40,40,0,1
46,-1,85,-4,46,-14,39,39,0,1
45,0,77,0,44,-6,32,34,2,1
55,0,98,0,44,11,42,54,12,4
45,-2,88,-3,46,11,42,41,0,1
41,0,83,0,42,10,42,41,0,1
43,0,86,-4,42,-6,42,44,2,1
55,0,96,0,46,-6,41,50,8,4
44,0,86,1,42,-27,43,45,2,1
56,0,98,-1,42,-17,42,57,14,4
49,-5,82,0,50,10,33,33,0,1
55,0,78,-2,18,0,23,60,38,4
44,5,79,0,44,1,35,35,0,1
47,2,77,0,46,-1,30,31,0,1
45,4,77,0,44,0,31,33,2,1
37,0,79,0,30,9,42,48,6,1
43,-1,85,0,42,-10,42,44,2,1
43,0,76,8,42,0,33,35,2,1
37,0,80,0,30,24,43,49,6,1
38,2,79,0,38,18,42,41,0,1
101,0,102,0,70,-3,1,33,32,5
39,-2,80,-4,38,0,41,41,0,1
43,0,81,1,42,-9,37,39,2,1
49,0,87,0,46,-12,38,41,2,1
80,0,84,0,-36,-29,4,120,116,5
55,0,81,0,-20,25,26,102,76,4
55,0,77,0,12,-22,22,65,42,4
37,0,103,0,18,-16,66,85,20,1
56,2,98,0,52,1,42,46,4,4

Let's verify that this worked by looking at the `head()` function.

In [22]:
# Your code here:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [23]:
# Your code here:
sh = shuttle.to_csv('shuttle.csv', sep=',', index=False)

AttributeError: module 'pandas' has no attribute 'to_csv'

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
# Your code here:

Use the `head()` function to inspect the dataframe.

In [ ]:
# Your code here:

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# Your code here:

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [ ]:
# Your code here:

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [ ]:
# Your code here: